@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');



:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}




.box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content  .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content  .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
}
#content  .box-info li:nth-child(1) .bx {
	background: var(--light-ble);
	color: var(--blue);
}
#content  .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content  .box-info li:nth-child(3) .bx {
	background: var(--light-orange);

	color: var(--orange);
}
#content  .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content .box-info li .text p {
	color: var(--dark);	
}
.add{
    padding:10px;
    border: 2px solid #2574a9;
     border-radius: 15px; 
}

.add:hover{
     color:white;
     background-color: gray;
}
.filt{
    padding:10px;
    border: 2px solid #2574a9;
     border-radius: 15px; 
}

.filt:hover{
     color:white;
     background-color: gray;
}
.deUp{
    font-size: 25px;
    margin-left: 20px;
}

.deUp:hover{
     color:#2574a9;
}

.add-task-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 120px;
    background: linear-gradient(to bottom, #f9f9f9, #939ab8); 
    opacity: 0.35;
    border: 2px solid #d1d1d1; 
    box-shadow: 0 8px 16px rgba(84, 78, 78, 0.1);
    z-index: 1000;
    text-align: center;
    border-radius: 15px; 
  
  }

  .add-task-window input {
    position: absolute;
    bottom:50%;
    right:35px;
    margin: auto;
    padding: 15px;
    width: 85%;
    border: 2px solid #ccc; /* Light border for input */
    border-radius: 8px;
    background-color: white;
    text-align: right;
  }
  
  .add-task-window button {
    cursor: pointer;
   
  }
  
  .add-task-window button:hover {
    background-color: black; 
  }


  
/* MainPage.css */

.edit-task-window {
  position: fixed;
  top: 50%;
  left: 50%;
  padding:45px;
  background-color: #AAAAAA;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.edit-task-window input {
  text-align: right;
  padding:11px;
  font-size: 18px;
  border-radius: 9px;
  margin-bottom: 10px;
  margin-left: 60px;
 
}
.edit-task-window h1{
    position: absolute;
    top:6px;
    margin-left: 80px;
}
.edit{
    padding-left: 25px;
    position: absolute;
    top:65%;
    right:25px;
    background-color: #30a36b;
    cursor: pointer;
   
}
.cancel{
    padding-right: 25px;
    position:absolute;
    top:65%;
    left:25px;
    background-color:#c38583;
    
    cursor: pointer;

}



  
  